.icon-line{
    position:relative;
    transform-origin: center;
    transition: all;
    animation: slides 1s infinite ease-in-out;
}    
.icon-line .line,.icon-line .line2{
        height:2px;
        width:15px;
        background: var(--grey);
        position: absolute;
        left:50%;
        top:35%;
    }
.icon-line .line2{
    width:10px;
    top:60%;
    background: var(--darkblue);
    }   
.tab-link{
    font-size: 1.3rem;
    text-decoration:none;
    color:var(--white);
    position: relative;
}
.tab-link::before{
    content:'';
    width:100%;
    height:2px;
    transform-origin: center;
    position: absolute;
    bottom:0;
    transition: all 0.5s;
    background:var(--darkblue);
    transform:scaleX(0);
}
.tab-link:hover{
    color:var(--grey);
    transform :scaleX(1.1);
}
.tab-link:hover::before{
    transform:scaleX(1);
}
.currency-box{
    display:flex;
    align-items: center;
    justify-content: space-around;
    background: var(--lightblack);
    padding:0 0.5rem;
    border-radius: 0.5rem;
}
.currency-box svg{
    color:var(--darkblue)
}
.drawer-footer{
     display:flex;
    justify-content: space-around;
    align-items: center;
}

.drawer-footer .purchase-box .price-box{
    padding:0.2rem 0.5rem;
    background: var(--grey);
    color:var(--white);
    margin-inline: 0.5rem;
    text-align: center;
    border-radius: 1rem;
    display: flex;
}
.drawer-footer .purchase-box .price-box svg{
    color:var(--darkblue);
    margin-inline: 0.2rem;
}
.blog-black, .blog-white{
    position:absolute;
    bottom:-50%;
    left:-20%;
    z-index: 5000;
    width:700px;
    height:700px;
    border-radius: 50%;
    transform:scale(0);
    transition: all 1s ease-out ;
    animation: themer 1s ease-out;
}
.blog-black{
    background:var(--darkblue);
}
.blog-white{
    background:var(--white);
}
@keyframes slides {
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(-10px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes themer {
    from{
        
        opacity:1;
        transform: scale(0);
    }
    to{
        opacity:0;
        transform:scale(3);
        
    }
}